<mat-drawer-container class="example-container" hasBackdrop>
    <mat-drawer #drawer mode="over">
        <div class="main">
            <button mat-flat-button [routerLink]="['/user-dashboard/listagem']"><mat-icon>list</mat-icon><span> Listagem de Músicas</span></button>
            <!-- <button mat-flat-button [routerLink]="['/user-dashboard/pedidos']"><mat-icon>lyrics</mat-icon><span> Suas Músicas Pedidas</span></button> -->
            <button mat-flat-button [routerLink]="['/user-dashboard/nova-musica']"><mat-icon>front_hand</mat-icon><span> Pedir Música</span></button>
            <button mat-flat-button (click)="desyncKaraoke()"><mat-icon>sync</mat-icon><span> Dessincronizar Karaokê</span></button>
        </div>
    </mat-drawer>
    <mat-drawer-content style="height: 100vh">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" *ngIf="karaokeService.temConexao" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span>Flush Karaokê</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
