
<mat-card class="p-2">
    <h2 class="text-center">Qual nota você dá para a pessoa que está cantando a música atual?</h2>

    <p><strong>Musíca:</strong> {{ musicaAtual }}</p>
    <p><strong>Cantor:</strong> {{ usuario }}</p>

    <p class="text-center">Ao avaliar o cantor atual, a média da nota de todos do estabelecimento aparecerá na tela ao final da música!</p>

    <h2>Sua nota: {{ voto }}</h2>

    <mat-slider min="0" max="10" step="0.5" color="warn" showTickMarks discrete [(ngModel)]="voto" (change)="updateSetting($event)">
        <input matSliderThumb value="10">
    </mat-slider>

    <button mat-flat-button color="warn" (click)="votar($event)">Votar!</button>
</mat-card>
