<div *ngIf="!idInvalido" id="grid-screen">
    <div #youTubePlayer>
        <youtube-player *ngIf="!mostrarNota" [videoId]="videoIdAtual" (stateChange)="stateChangeYoutubePlayer($event)" [startSeconds]="1" [width]="videoWidth" [height]="videoHeight" [playerVars]="playerVars"></youtube-player>
        <div id="nota" *ngIf="mostrarNota">
            <h1>Pontuação!</h1>
            <h4>Baseada na votação de todos do estabelecimento ...</h4>
            <h4>Cantor: {{ cantorAtual }}</h4>
            <h1 class="quadro-voto" #nota></h1>
            <h4>{{ mensagemAvaliacao }}</h4>
            <h4>Para votar em quem está cantando, conecte-se pelo QR Code ao lado</h4>
        </div>
    </div>
    <div>
        <div class="p-2">
            <qr-code [value]="qrCodeValue" size="300" errorCorrectionLevel="M"></qr-code>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Próximas Músicas </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>
    
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div *ngIf="idInvalido">
    ID de karaokê inválido
</div>