<div *ngIf="karaokeService.temConexao; else realizarConexao">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <button mat-fab extended color="primary" class="right-icon" [routerLink]="['/user-dashboard/nova-musica']">
        <mat-icon>front_hand</mat-icon>
        
        <span>Pedir música</span>
    </button> -->

    <button mat-fab extended color="warn" class="right-icon" (click)="openBottomSheet()">
        <mat-icon>star_half</mat-icon>
        
        <span>Avaliar Cantor Atual!</span>
    </button>
</div>
<ng-template #realizarConexao>
    <div class="text-center">
        <h3>Conecte-se com algum karaokê para começar</h3>

        <button mat-flat-button color="warn" (click)="syncKaraoke()">        
            <mat-icon>sync</mat-icon>

            <span>Conectar Karaokê!</span>
        </button>
    </div>
</ng-template>