button[mat-fab]{
    position: fixed;
    bottom: 10px;
}

button[mat-fab].right-icon{
    right: 10px;
}
button[mat-fab].left-icon{
    left: 10px;
}

div.text-center{
    text-align: center;
    margin: 20px;
}